<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>246483388357-3bs62rqsdrrl35dt6ag0ckv2vm11ndig.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.246483388357-3bs62rqsdrrl35dt6ag0ckv2vm11ndig</string>
	<key>API_KEY</key>
	<string>AIzaSyA_7Mn6v1inJsQWi6Rme3UzkBPTFNf-f1k</string>
	<key>GCM_SENDER_ID</key>
	<string>246483388357</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.hungps.flutterpokedex</string>
	<key>PROJECT_ID</key>
	<string>pokego-95c08</string>
	<key>STORAGE_BUCKET</key>
	<string>pokego-95c08.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:246483388357:ios:71cdb352bcc528d3fbadac</string>
</dict>
</plist>